<head>
    <meta carset="UTF-8">
    <title>T7 SDEV255 :: <%=tittle%></title>
    
    <!--not interested in doing the css since I didn't follow exactly and kind of thought about the final project while doing this-->
</head>