<nav>

    <div class="site-title">
        <a href="/"><h2>M06 - Tides - Fraggle University</h2></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blarg">New Blarg</a></li>
    </ul>
</nav>