<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <link rel="StyleSheet" href="styles.css">
    <p>Are you lost?</p>
    <img src = "AreYouLost.bmp">
    <%- include('./partials/foot.ejs') %>
    
</body>
</html>